<%= form_for @question do |f| %>
  <% @question.errors.full_messages.each do |message| %>
    <div class='alert alert-danger'><%= message %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger"> <%= flash[:alert] %> </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, class: 'control-label'%>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="field margen-5">
    <%= f.label :faculty_id, class:"label-control"  %><br />
    <%= f.collection_select :faculty_id, Faculty.all, :id, :name, {}, class:"form-control"%>
  </div>
  <div class="field margen-5">
    <!-- Averiguar más de Select2 y como funciona bien este select -->
    <!-- Esto hay que agarrarlo con pinzas -->
    <%= f.label :tags, class:"label-control"  %><br />
    <script>
      $(document).ready(function() {
        $("#list-tags").select2({
          placeholder: "Seleccionar etiquetas."
        });
      });
    </script>
    <%= f.select(:tags, Tag.all.collect{|t| [ t.name, t.id ]}, {}, class: "form-control", multiple:"multiple", id: "list-tags") %>
  </div>
  <%= f.submit 'Publicar', class: 'btn btn-success' %>
<% end %>
