<div class='panel-body'>
  <h4><%=link_to question.user.username, user_path(question.user) %>: <b><%= question.title %></b></h4>
  <hr>
  <div class="container">
    <%= question.body %>
  </div>
  <hr>
  <div class="col-md-6">
    <%= question.publish_at %>
  </div>
  <div class="col-md-6 text-right">
    <a data-toggle="collapse" href="#ver_question_comments" aria-expanded="false" aria-controls="ver_question_comments">
      <i class="fa fa-comments fa-2x fa-fw"></i>
    </a>
    <%= render partial: 'votes/vote', object: question.vote(current_user) %>
  </div>
  <div class="col-md-12">
    <%= render question.tags %>
  </div>
  <div class="collapse col-md-offset-1 col-md-11" id="ver_question_comments">
    <h5><b>Comentarios</b></h5>
    <ul class="col-md-12 list-group" id="question_comments_container">
      <%= render question.question_comments.decorate %>
    </ul>
    <div class="col-md-12" id="question_comment_form">
      <%= render 'question_comments/form'%>
    </div>
  </div>
</div>
