<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <h2>Editar Cuenta</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field margen-5">
            <%= f.label :nombre, class:"label-control"  %>
            <%= f.text_field :nombre, autofocus: true, class:"form-control" %>
          </div>

          <div class="field margen-5">
            <%= f.label :apellido, class:"label-control"  %>
            <%= f.text_field :apellido, autofocus: true, class:"form-control" %>
          </div>

          <div class="field margen-5">
            <%= f.label :email, class:"label-control" %>
            <%= f.email_field :email, autofocus: true, class:"form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field margen-5">
            <%= f.label :password, class:"label-control" %> <i>(Dejar en blanco para si no quiere cambiar su contraseña)</i>
            <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> caracteres minimos</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class:"label-control" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
          </div>

          <div class="field">
            <%= f.label :current_password, class:"label-control" %> <i>(Ingrese su contraseña para confirmar los cambios)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
          </div>

          <div class="actions margen-5">
            <%= f.submit "Actualizar", class:"btn btn-info btn-lg btn-block" %>
          </div>
        <% end %>
        <h3>Usuario publico:</h3>
        <div id="container_public">
          <%= render partial:'users/form_public', locals:{user: current_user} %>
        </div>

        <h3>Cancelar mi Cuenta</h3>

        <p>¿Descontento? <%= button_to "Cancelar", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, class:"btn btn-danger btn-lg btn-block", method: :delete %></p>

        <%#= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
