<h2> <%= @faculty.name %></h2>
<h4><%= @faculty.questions_count %> pregunta(s) con esta facultad.</h4>
<% if @faculty.deleted? %>
  <ul class = "list-group">
      <li class = "list-group-item list-group-item-danger">
        Esta facultad se encuentra eliminada.
      </li>
  </ul>
<% end %>
<% if user_signed_in? && current_user.skill?("Editar facultades") && !@faculty.deleted? %>
    <hr>
    <div class="col-md-12">
      <%= form_for @faculty, remote: true do |f| %>
      <%= render partial: 'errors', locals: { errors: @errors} %>
      <div class="col-md-3 margen-5">
        <%= f.label :name, "Cambiar Nombre:", class: 'control-label' %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="col-md-1 text-center">
        <%= f.button(type: "submit", class: "btn btn-info") do %>
          <i class="fa fa-floppy-o fa-fw"></i>
        <% end %>
      </div>
      <% end %>
    </div>
<% end %>
