<h2 class="text-center"><%= @user.username %></h2>
<h5 class="text-center">  <%= link_to faculty_path(@user.faculty_id) do %>
    <h6><%=Faculty.with_deleted.find(@user.faculty_id).name%></h6>
  <% end %>
  <h5 class="text-center"><%= @user.admin? %></h5>
<% if @user == current_user || @user.public?  %>
  <h5 class="text-center"><%= @user.email %></h5>
  <div class="panel panel-default col-md-6">
    <table class="table">
      <tr class="text-center">
        <th>Tipo</th>
        <th class="text-right">Puntos</th>
      </tr>
      <tr>
        <td>Preguntas</td>
        <td class="text-right"><%= @user.questions_votes %></td>
      </tr>
      <tr>
        <td>Respuestas</td>
        <td class="text-right"><%= @user.answers_votes %></td>
      </tr>
      <tr>
        <td>Mejores respuestas</td>
        <td class="text-right"><%= @user.best_answers_votes %></td>
      </tr>
      <tr>
        <td>Por emitidos</td>
        <td class="text-right"><%= @user.points_from_votes %></td>
      </tr>
      <tr class="success">
        <td>Netos</td>
        <td class="text-right"><%= @user.total_points %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6 margen-5 text-center">
    <%= link_to 'Preguntas', questions_user_path, class: 'btn btn-info' %>
  </div>
  <div class="col-md-6 margen-5 text-center">
    <%= link_to 'Respuestas', answers_user_path, class: 'btn btn-info'  %>
  </div>
  <div class="col-md-6 margen-5 text-center">
    <%= link_to 'Votos', question_votes_user_path, class: 'btn btn-info' %>
  </div>
  <div class="col-md-6 margen-5 text-center">
    <%= link_to 'Permisos', skills_user_path, class: 'btn btn-info' %>
  </div>
<% end %>
