<li class="list-group-item" id="answer_<%= answer.id %>">
  <%= link_to answer.user.username, user_path(answer.user_id) %>
  <div class="panel-body">
    <%= answer.body %>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      <%= answer.publish_at %>
    </div>
    <div class="col-md-6 text-right">
      <a data-toggle="collapse" href="#ver_comments_<%=answer.id%>" aria-expanded="false" aria-controls="ver_comments_<%=answer.id%>">
        <i class="fa fa-comments fa-2x fa-fw"></i>
      </a>
      <%= render partial: 'votes/vote', object: answer.vote(current_user) %>
    </div>
    <div class="collapse col-md-offset-1 col-md-11" id="ver_comments_<%=answer.id%>">
      <h5><b>Comentarios</b></h5>
      <ul class="col-md-12 list-group" id="answer_comments_of_<%=answer.id%>">
        <%= render answer.answer_comments.decorate %>
      </ul>
      <div class="col-md-12" id="answer_comment_form_<%=answer.id%>">
        <%= render partial:'answer_comments/form', locals:{answer: answer} %>
      </div>
    </div>
  </div>
</li>
