<%= form_for @answer, url:answers_path, remote: true do |f| %>
  <%= f.hidden_field :question_id, class: 'form-control' %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="col-md-2">
    <%= f.submit 'Responder', class: 'btn btn-info' %>
  </div>
  <div class="col-md-10">
    <%= render partial: 'errors', locals: { errors: @answer.errors.full_messages } %>
  </div>
<% end %>
