<div class="row">
    <div class="col-md-offset-3 col-md-6 well">
      <div class="text-center">
        <h2 style="margin-top: 0px">Etiquetas</h2>
      </div>
      <% if user_signed_in? && current_user.skill?("Editar etiquetas") %>
        <%= form_for @new_tag do |f|%>
          <%= render partial: 'errors', locals: { errors: @new_tag.errors.full_messages } %>
          <div class="col-md-8">
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= f.submit "Agregar", class:"btn btn-success btn-block" %>
          </div>
        <% end %>
      <% end %>
      <%= form_for @presenter.filter, url: tags_path, method: :get do |f| %>
        <div class="col-md-8 margen-5">
          <%= f.text_field :search, class: 'form-control' %>
        </div>
        <div class="col-md-4 margen-5">
          <%= f.submit 'Buscar', class: 'btn btn-info btn-block' %>
        </div>
      <% end %>
    </div>
  <div class="list-group">
    <% @presenter.tags.each do |tag| %>
      <div class="list-group-item col-md-offset-3 col-md-6">
        <%= render tag %>
      </div>
    <% end %>
  </div>
</div>
